@model IEnumerable<SlowNewsBlog.Models.Tables.BlogPost>

@{
    ViewBag.Title = "BlogsByCatagory";
}

<h2>BlogsByCatagory</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Blog)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeaderImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Blog)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateAdded)
        </td>
        <td>
            <img src="@Url.Content($"~/Images/{item.HeaderImage}")" class="img-responsive" />
        </td>

    </tr>
}

</table>
