@model SlowNewsBlog.Models.GroupedBlogViewModel

@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

<div class="row">
    <div class="col-md-12">
        <h3>Approved Blogs</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Header Image</th>
                    <th>Body</th>
                    <th>Date Added</th>
                    <th>Associated Hashtags</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model.ApprovedBlogs)
                {
                    if (blog.Approved == true)
                    {

                        string firstParagraph = blog.Blog.Substring(0, blog.Blog.IndexOf("</p>") + 4);
                <tr>
                    <td>@blog.Title</td>
                    <td><img src="~/Images/@blog.HeaderImage" class="img-thumbnail" /></td>
                    <td>@Html.Raw(firstParagraph)</td>
                    <td>@blog.DateAdded</td>
                    <td>
                        @foreach (var hashtag in blog.BlogPostHashTags)
        {
                @hashtag.HashTagName<br />
}
                    </td>
                    @using (Html.BeginForm("DeleteBlog", "Admin", FormMethod.Post))
    {                   @Html.Hidden("blogPostId", blog.BlogPostId)
                <td><button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this blog?');">Delete</button></td>
}
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h3>Blogs Awaiting Approval</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Header Image</th>
                    <th>Body</th>
                    <th>Date Added</th>
                    <th>Associated Hashtags</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var blog in Model.UnApprovedBlogs)
                {
        if (blog.Approved == false)
        {
            string firstParagraph = blog.Blog.Substring(0, blog.Blog.IndexOf("</p>") + 4);

            <tr>
                <td>@blog.Title</td>
                <td><img src="~/Images/@blog.HeaderImage" class="img-thumbnail" /></td>
                <td>@Html.Raw(firstParagraph)</td>
                <td>@blog.DateAdded</td>
                <td>
                    @foreach (var hashtag in blog.BlogPostHashTags)
                    {
                        @hashtag.HashTagName<br />
                    }
                </td>
            </tr>
        }
                }
            </tbody>
        </table>
    </div>
</div>

