@model List<SlowNewsBlog.Models.PublishDateViewModel>
@{
    ViewBag.Title = "SetPublishDate";
}

<h2>Scheduler</h2>

<table>
    <thead>
        <tr>
            <th>Blog Title</th>
            <th>Publish Date</th>
        </tr>
    </thead>
    <tbody>
        @{var sorted = Model.OrderByDescending(m => m.PublishedDate).ToList();}
            @for (int i=0; i<sorted.Count;i++)
            {
        <tr>
            <td>@sorted[i].Title</td>
            @if (sorted[i].PublishedDate == null)
    {
        @Html.HiddenFor(m => sorted[i].BlogPostId)
        <td style="background-color: red">@Html.EditorFor(m => sorted[i].PublishedDate, new { @class = "date" })</td>
}
else
{
        @Html.HiddenFor(m=>sorted[i].BlogPostId)
        <td>@Html.EditorFor(m => sorted[i].PublishedDate, new { @class="date" })</td>

}

        </tr>
        }

    </tbody>
</table>